# Built artifacts
*.apk
*.aar
*.ap_
*.aab

# Files and folders built by Gradle
**/build/
.gradle/
.kotlin/

# Local configuration files
local.properties

# Log files
*.log

# Android Studio / IntelliJ IDEA files
.navigation/
.idea/
*.iml
*.ipr
*.iws

# Device schema / database leaks
/captures/
externalLibs/
